* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo della pagina */

section {
    padding: 16px 0;
}

/* Layout iniziale */

.page-header {
    padding: 10px 30px;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

/* Cornice del contenuto */

.card {
    width: 400px;
    margin: 0 auto;
    border: 3px solid black;
    padding: 16px;
}

/* Chiusura della pagina */

.page-footer {
    padding: 10px 30px;
    border-top: 3px solid black;
    margin-top: 10px;   
}